body {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; background-color: #EEEEEE; color: #000000; margin-left:10px; margin-top:10px; margin-right:20px}
p,td  {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;}
.titel {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18px; font-weight:bold; color: #000000; text-align:right;}
.titel2 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px; font-weight:bold; color: #000000;}
a {  font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none; color: #000000}
a:visited {  font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none; color: #000000}
a:hover {  font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: underline ; color: #666666}
a:active {  font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none; color: #000000}
